<%= link_to 'Go back', home_index_path %>
<h2>Here are all of the flavors we have in stock today!</h2>


<h1>Flavors:</h1>
<table>
  <tr>
    <th>Flavor</th>
  </tr>

  <% @flavors.each do |flavor| %>
    <tr>
      <td><%= flavor.name %></td>
    </tr>
  <% end %>
</table>
