<%= link_to 'Go back', home_index_path %>
<h2>Here are all of the flavors we have in stock today!</h2>


<h1>Flavors:</h1>
<table>
  <tr>
    <th>Flavor</th>
  </tr>

  <% @flavors.each do |flavor| %>
    <tr>
      <td><%= flavors.name %></td>
      <td><%= image_tag @flavors.avatar.url %></td>
      <td><%= image_tag @flavors.avatar.url(:medium) %></td>
    </tr>
  <% end %>
</table>
