
<h2>Here are all of the flavors we have in stock today!</h2>


<h1>Flavors:</h1>
<table>
  <tr>
    <th>Flavor</th>
  </tr>

  <% @flavors.each do |flavor| %>
    <tr>
     <p> <td><%= flavor.name %></td>
      <td><%= image_tag flavor.image_url %><br><br></td>
      </p>
    </tr>
  <% end %>
</table>
