<h2>Here are the flavors we have in stock today!</h2>


<h1>Lifetime view of flavors</h1>
<%= link_to 'New flavor', new_flavor_path %>
<table>
  <tr>
    <th>Flavor</th>
  </tr>

  <% @flavors.each do |flavor| %>
    <tr>
      <td><%= flavor.name %></td>
    </tr>
  <% end %>
</table>
