<h2>Here are the toppings we have in stock today!</h2>

<table>
  <tr>
    <th>Topping name</th>
  </tr>

  <% @toppings.each do |topping| %>
    <tr>
      <td><%= topping.name %></td>
      <td><%= image_tag @topping.avatar.url %></td>
      <td><%= image_tag @topping.avatar.url(:medium) %></td>
    </tr>
  <% end %>
</table>


