
<h2>What's for sale:</h2>

<h3><%= link_to 'available ice cream flavors with accompanying images', flavors_path %></h3>
<h3><%= link_to 'ice cream toppings with accompanying images', toppings_path %></h3>

<h3><%= link_to 'ice cream containment options', containments_path %></h3>



<h2> :  </h2>


<h3>1) PLACE A NEW ORDER</h3>
<h4>Enter ice cream configuration options (flavor, cone, toppings)</h4>
<%= link_to 'Place a new order', controller: 'orders' %>




<h3>2) PLACE A NEW ORDER FINAL</h3>
<h4>Enter customer personal info</h4>
<h5>Submit, (email sent)</h5>

<h2>/////</h2>

<h2>Admin:</h2>
<h3>Claire can manage orders and options. Claire should easily be able to add new toppings, flavors, etc. Claire should also be able to filter orders by customer or by flavor. </h3>
