<h1>Welcome to the Dairy Shop!</h1>

<h2>What's for sale:</h2>

<h3> ● available ice cream flavors with accompanying images.</h3>

<h3> ● ice cream toppings with accompanying images.</h3>
<h3> ● ice cream containment options </h3>

<h2> :  </h2>


<h3>1) PLACE A NEW ORDER</h3>
<h4>Enter ice cream configuration options (flavor, cone, toppings)</h4>

<!-- <h2> :  </h2> -->


<h3>2) PLACE A NEW ORDER FINAL</h3>
<h4>Enter customer personal info</h4>
<h5>Submit, (email sent)</h5>

<h2>/////</h2>

<h2>Admin:</h2>
<h3>Claire can manage orders and options. Claire should easily be able to add new toppings, flavors, etc. Claire should also be able to filter orders by customer or by flavor. </h3>
