<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new order!</h1>
    <h1>Here it is:</h1>


<%= @order.containment %>
<%= @order.customer %>
<%= @order.flavor %>
<%= @order.containment.topping %>

  </body>
</html>
