

<h2>Here are the containments we have in stock today!</h2>

<table>
  <tr>
    <th>containment</th>
  </tr>

  <% @containments.each do |containment| %>
    <tr>
     <p> <td><%= containment.name %></td>
      <td><%= image_tag containment.image_url %><br><br></td>
      </p>
    </tr>
  <% end %>
</table>

